<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <title><%= title %></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/custom.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <header class="row"> 
        <div class="span12">
          <nav class="navbar">
            <div class="navbar-inner">
              <a href="#" class="brand">BlueLobsterStudios</a>
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="#">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/gallery">Photos</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Settings</a></li>
                <li class="divider-vertical"></li>

              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="row" id="main-content">
        <p>Photos By Month</p>

      </div>


      <footer class="row"></footer>
    </div>  <!-- end of container -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--script src="/bootstrap-ajax/vendor/spin.min.js"></script -->
    <script src="/bootstrap-ajax/js/bootstrap-ajax.js"></script>

  </body>
</html>